* {
    box-sizing: border-box;
}

html
{
    margin: 0;
    padding: 0;
}

body
{
    margin: 0;
    padding: 0;
    background-color: rgb(70, 70, 70);
}

@font-face {
  font-family: 'Roboto'; /* Name the font */
  src: url('fonts/Roboto-VariableFont_wdth\,wght.woff2') format('woff2'),
       url('fonts/Roboto-VariableFont_wdth\,wght.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap; /* Helps with font loading performance */
}

.topBarBG
{
    height: 75px;
    width: 100%;
    background-color: #333;
    display: grid;
    grid-template-areas: "home buttons";
    grid-template-columns: 3fr 10fr;
    align-items: center; /* vertical alignment */
}

.topBarBG div.home
{
    grid-area: home;
    align-self: center;
    justify-self: center;
    width: 90%;
    height: 90%;
}

.topBarBG div.home button
{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: #ffffff00;
    border: solid;
    border-color: #ffffff00;
    cursor: pointer;
    font-family: Roboto;
    font-size: 30px;
    color: #F0EAD6;
}

.topBarBG div.buttons
{
    display: flex;
    grid-area: buttons;
    align-items: center;
    gap: 15px;
}

.topBarBG div.buttons button
{
    width: 100px;
    height: 60px;
    border-radius: 10px;
    background-color: #F0EAD6;
    border: solid;
    border-color: #F0EAD6;
    cursor: pointer;
    font-family: Roboto;
    font-size: 30px;
    color:#333;
}


.nbaPage
{
    width: 100%;
    height: 30px;
    font-size: 20px;
}

.gamesFormat
{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; 
    gap:20px;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

.gameCardUI
{
    flex: 1 1 300px;
    max-width: 450px;

    height: 150px;
    background-color: #333;
    color: #F0EAD6;
    border-radius: 12px;
    align-items: start;
    display: grid;
    font-size: 20px;
    grid-template-columns: 1fr auto 1fr;
}
