* {
    box-sizing: border-box;
}

html
{
    margin: 0;
    padding: 0;
}

body
{
    margin: 0;
    padding: 0;
}

.topBarBG
{
    height: 75px;
    width: 100%;
    background-color: black;
    display: grid;
    grid-template-areas: "home buttons";
    grid-template-columns: 3fr 10fr;
    align-items: center; /* vertical alignment */
}

.topBarBG div.home
{
    grid-area: home;
    justify-self: center;
    align-self: center;
}

.topBarBG div.buttons
{
    display: flex;
    grid-area: buttons;
    align-items: center;
    gap: 15px;
}

.nbaPage
{
    background-color: brown;
}

.gamesFormat
{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; 
    gap:20px;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

.gameCardUI
{
    flex: 1 1 300px;
    max-width: 450px;

    height: 150px;
    background-color: #333;
    color: #F0EAD6;
    border-radius: 12px;
    align-items: start;
    display: grid;
    font-size: 20px;
    grid-template-columns: 1fr auto 1fr;
}
