html
{
    margin: 0;
    padding: 0;
}

body
{
    margin: 0;
    padding: 0;
}

.topBarBG
{
    height: 75px;
    width: 100%;
    background-color: black;
    display: grid;
    grid-template-areas: "home buttons";
    grid-template-columns: 3fr 10fr;
    align-items: center; /* vertical alignment */
}

.topBarBG div.home
{
    grid-area: home;
    justify-self: center;
    align-self: center;
}

.topBarBG div.buttons
{
    display: flex;
    grid-area: buttons;
    align-items: center;
    gap: 15px;
}

.nbaPage
{
    background-color: brown;
}